.article {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.title {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	margin-bottom: 50px;
}

.title, .title a {
	color: black;
	text-decoration: none;
	font-size: 32px;
	text-align: center;
}

.header {
	height: 50px;
}

.header .date {
	width: 200px;
	float: right;
}

.header .title {
	float: left;
}

.header .title, .header .date, .header a {
	text-decoration: none;
	font-style: italic;
	font-size: 25px;
	color: #790002;
	width: 200px;
}

body {
	font-family: 'PT Sans', 'Georgia', serif;
	text-shadow: #C9C9C9 2px 2px 10px;
}

.topbar li {
	margin-right: 50px;
	display: inline;
	float: left;
}

.topbar {
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

.topbar a {
	text-decoration: none;
	color: #8a8a8a;
}

a:hover {
	font-weight: bold;
}

._404 {
	font-size: 28px;
	text-align: center;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

.footer {
	margin-top: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.footer a {
	color: #a5a5a5;
	text-decoration: none;
}

