.article {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.blog_title {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	text-align: center;
	margin-bottom: 50px;
}

.blog_title, .blog_title a {
	color: black;
	text-decoration: none;
	font-size: 32px;
}

.header {
	margin-top: 50px;
}

.header .date {
	width: 200px;
}

.header .title, .header a {
	text-decoration: none;
	font-style: italic;
	font-size: 25px;
	color: #790002;
	text-align: left;
	margin-left: 0px;
}

.header .date {
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
	color: #790002;
}

body {
	font-family: 'PT Sans', 'Georgia', serif;
	font-size: 14px;
	text-shadow: #C9C9C9 2px 2px 10px;
}

.topbar li {
	margin-right: 50px;
	display: inline;
	float: left;
}

.topbar {
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

a {
	text-decoration: none;
	color: #8a8a8a;
}

a {
	text-decoration: none;
	color: #790002;
}

a:hover {
	font-weight: bold;
}

.footer {
	margin-top: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.footer a {
	color: #a5a5a5;
	text-decoration: none;
}

.next_page, .footer {
	text-align: center;
}
